.result-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  /* display: grid;
  grid-template-columns: 1fr 3fr; */
}

.result-cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-song-artist {
  /* width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-overflow: ellipsis;
  margin: 1rem;
  text-overflow: ellipsis;
}

.result-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-overflow: ellipsis;
}

.result-song {
  width: 150px;
  text-overflow: ellipsis;
}

/* MORE CONTENT */

.more-content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--contrast-color);
  width: 250px;
  text-align: center;
  height: 50px;
  border: var(--contrast-color);
  border-radius: 60px;
  color: var(--text-color);
  font-weight: bold;
  /* transition */
  transition: all 0.5s ease;
  transform: scale(1);
}

.more-content-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
